<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<header>
  <div>
    <nav class="navbar bg-primary" data-bs-theme="dark">
      <!-- Navbar content -->
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Student Management System</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#"
                >1. Student Management</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">2. Facalty Management</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">3. Fees Management</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
<!--
<div class="container">
  <h1>Student List</h1>
</div>
<div class="container">
<button (click)="navigateToHome()">Add Student</button>
</div>
<router-outlet></router-outlet>
<div class="container">
  <button type="button" class="btn btn-primary">Next</button>
</div>

-->
<router-outlet></router-outlet>